#container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.6fr 0.5fr 2fr 1fr 1fr 2fr 0fr 1fr 1.4fr 0.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}
#container img {
  width: 50%;

}
#container div {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#main_screen { grid-area: 1 / 1 / 11 / 17; }

#biggest_loosers { grid-area: 10 / 1 / 11 / 17; }

#biggest_gainers { grid-area: 1 / 1 / 2 / 17; }

#menu { grid-area: 2 / 1 / 3 / 17; }

#history { grid-area: 7 / 1 / 10 / 17; }

#history_description { grid-area: 7 / 1 / 10 / 5; }

#history_chart { grid-area: 7 / 5 / 10 / 17; }

#main_charts { grid-area: 3 / 1 / 7 / 17; }

#chart_1 { grid-area: 3 / 1 / 5 / 9; }

#chart_1_description { grid-area: 3 / 1 / 5 / 3; }

#chart_1_visual { grid-area: 3 / 3 / 5 / 9; }

#chart_2 { grid-area: 3 / 9 / 5 / 17; }

#chart_2_description { grid-area: 3 / 9 / 5 / 11; }

#chart_2_visual { grid-area: 3 / 11 / 5 / 17; }

#chart_3 { grid-area: 5 / 1 / 7 / 9; }

#chart_3_description { grid-area: 5 / 1 / 7 / 3; }

#chart_3_visual { grid-area: 5 / 3 / 7 / 9; }

#chart_4 { grid-area: 5 / 9 / 7 / 17; }

#chart_4_description { grid-area: 5 / 9 / 7 / 11; }

#chart_4_visual { grid-area: 5 / 11 / 7 / 17; }

#looser_1 { grid-area: 10 / 1 / 11 / 5; }

#looser_1_chart { grid-area: 10 / 1 / 11 / 4; }

#looser_1_logo { grid-area: 10 / 4 / 11 / 5; }

#looser_2 { grid-area: 10 / 5 / 11 / 9; }

#looser_2_chart { grid-area: 10 / 5 / 11 / 8; }

#looser_2_logo { grid-area: 10 / 8 / 11 / 9; }

#looser_3 { grid-area: 10 / 9 / 11 / 13; }

#looser_3_chart { grid-area: 10 / 9 / 11 / 12; }

#looser_3_logo { grid-area: 10 / 12 / 11 / 13; }

#looser_4 { grid-area: 10 / 13 / 11 / 17; }

#looser_4_chart { grid-area: 10 / 13 / 11 / 16; }

#looser_4_logo { grid-area: 10 / 16 / 11 / 17; }

#gainer_1 { grid-area: 1 / 1 / 2 / 5; }

#gainer_1_chart { grid-area: 1 / 1 / 2 / 4; }

#gainer_1_logo { grid-area: 1 / 4 / 2 / 5; }

#gainer_2 { grid-area: 1 / 5 / 2 / 9; }

#gainer_2_chart { grid-area: 1 / 5 / 2 / 8; }

#gainer_2_logo { grid-area: 1 / 8 / 2 / 9; }

#gainer_3 { grid-area: 1 / 9 / 2 / 13; }

#gainer_3_chart { grid-area: 1 / 9 / 2 / 12; }

#gainer_3_logo { grid-area: 1 / 12 / 2 / 13; }

#gainer_4 { grid-area: 1 / 13 / 2 / 17; }

#gainer_4_chart { grid-area: 1 / 13 / 2 / 16; }

#gainer_4_logo { grid-area: 1 / 16 / 2 / 17; }

#btn_preset_1 { grid-area: 2 / 1 / 3 / 4; }
#btn_preset_2 { grid-area: 2 / 5 / 3 / 8; }
#btn_preset_3 { grid-area: 2 / 9 / 3 / 12; }
#btn_preset_4 { grid-area: 2 / 13 / 3 / 16; }

.button {
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #c0c1c4;
}
.button:hover {
  background-color: rgba(46, 47, 47, 0.38);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 150px;

}

#selectWrapper{
  border-radius:36px;
  display:inline-block;
  overflow:hidden;
  background:#cccccc;
  border:1px solid #cccccc;
}
#selectBox{
  width:140px;
  height:40px;
  border:0px;
  outline:none;
}

#legend {
	position: absolute;
	left: 12px;
	top: 12px;
	z-index: 1;
	font-size: 12px;
	line-height: 18px;
	font-weight: 300;
}
#gainer:hover {
  background-color: rgba(29, 234, 24, 0.15);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#gainer:active {
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

#looser:hover {
  background-color: rgba(154, 55, 73, 0.15);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#looser:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
html, body , #container {
  height: 100%;
  margin: 0;
}

/* For presentation only, no need to copy the code below */


/*#container * {
  border: 1px solid red;
  position: relative;
}*/

