{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
      <script type="module" src="{% static 'binance_api.js' %}" charset="utf-8"></script>

    <title>Infinite money generator</title>
  </head>
  <body>
      {% include 'messages.html' %}

  <!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Infinite money generator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}

      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Welcome, {{user.username}}</a>
      </li>

      {% else %}

      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>

      {% endif %}
    </ul>
  </div>
</nav>

      <div id="container" style="background-color: #003366; background-image: linear-gradient(to bottom, #efe8e8, #b6b6b6);">
      <div id="main_screen"></div>
      <div id="biggest_loosers"></div>
      <div id="biggest_gainers"></div>
      <div id="menu"></div>
      <div id="history"></div>
      <div id="history_description">
          <form id="history_chart_form">
              <label for="strategies" id="selectWrapper">
                  <select id="selectBox" name="strategies_dropdown_history_chart">
                      <option value="DCA">DCA</option>
                      <option value="Stake">Stake</option>
                      <option value="Trade">Trade</option>
                      <option value="DCA + Stake">DCA_Stake</option>
                 </select>
              </label>
          </form>
      </div>
      <div id="history_chart" class="w3-card"></div>
      <div id="main_charts"></div>
      <div id="chart_1"></div>
      <div id="chart_1_description">
          <form id="chart_1_form">
              <label class="toggle">
                  <input class="toggle-checkbox" type="checkbox" checked name="ma_10_chart_1">
                  <div class="toggle-switch"><span class="toggle-label" style="color: #3f0072"><b>SMA_10</b></span></div>
              </label><br><br>

              <label class="toggle">
                  <input class="toggle-checkbox" type="checkbox" checked name="ma_20_chart_1">
                  <div class="toggle-switch"><span class="toggle-label" style="color: #588104"><b>SMA_20</b></span></div>
              </label><br><br>

              <label for="strategies" id="selectWrapper">
                  <select id="selectBox" name="strategies_dropdown_chart_1">
                      <option value="DCA">DCA</option>
                      <option value="Stake">Stake</option>
                      <option value="Trade">Trade</option>
                      <option value="DCA + Stake">DCA_Stake</option>
                 </select>
              </label>
          </form>
      </div>
      <div id="chart_1_visual" class="w3-card"></div>
      <div id="chart_2"></div>
      <div id="chart_2_description">
          <form id="chart_2_form">
              <label class="toggle">
                  <input class="toggle-checkbox" type="checkbox" checked name="ma_10_chart_2">
                  <div class="toggle-switch"><span class="toggle-label" style="color: #3f0072"><b>SMA_10</b></span></div>
              </label><br><br>

              <label class="toggle">
                  <input class="toggle-checkbox" type="checkbox" checked name="ma_20_chart_2">
                  <div class="toggle-switch"><span class="toggle-label" style="color: #588104"><b>SMA_20</b></span></div>
              </label><br><br>


              <label for="strategies" id="selectWrapper">
                  <select id="selectBox" name="strategies_dropdown_chart_2">
                      <option value="DCA">DCA</option>
                      <option value="Stake">Stake</option>
                      <option value="Trade">Trade</option>
                      <option value="DCA + Stake">DCA_Stake</option>
                 </select>
              </label>
          </form>
      </div>
      <div id="chart_2_visual" class="w3-card"></div>
      <div id="chart_3"></div>
      <div id="chart_3_description">
          <form id="chart_3_form">
              <label class="toggle">
                  <input class="toggle-checkbox" type="checkbox" checked name="ma_10_chart_3">
                  <div class="toggle-switch"><span class="toggle-label" style="color: #3f0072"><b>SMA_10</b></span></div>
              </label><br><br>

              <label class="toggle">
                  <input class="toggle-checkbox" type="checkbox" checked name="ma_20_chart_3">
                  <div class="toggle-switch"><span class="toggle-label" style="color: #588104"><b>SMA_20</b></span></div>
              </label><br><br>


              <label for="strategies" id="selectWrapper">
                  <select id="selectBox" name="strategies_dropdown_chart_3">
                      <option value="DCA">DCA</option>
                      <option value="Stake">Stake</option>
                      <option value="Trade">Trade</option>
                      <option value="DCA + Stake">DCA_Stake</option>
                 </select>
              </label>
          </form>
      </div>
      <div id="chart_3_visual" class="w3-card"></div>
      <div id="chart_4"></div>
      <div id="chart_4_description">
          <form id="chart_4_form">
              <label class="toggle">
                  <input class="toggle-checkbox" type="checkbox" checked name="ma_10_chart_4">
                  <div class="toggle-switch"><span class="toggle-label" style="color: #3f0072"><b>SMA_10</b></span></div>
              </label><br><br>

              <label class="toggle">
                  <input class="toggle-checkbox" type="checkbox" checked name="ma_20_chart_4">
                  <div class="toggle-switch"><span class="toggle-label" style="color: #588104"><b>SMA_20</b></span></div>
              </label><br><br>


              <label for="strategies" id="selectWrapper">
                  <select id="selectBox" name="strategies_dropdown_chart_4">
                      <option value="DCA">DCA</option>
                      <option value="Stake">Stake</option>
                      <option value="Trade">Trade</option>
                      <option value="DCA + Stake">DCA_Stake</option>
                 </select>
              </label>
          </form>
      </div>
      <div id="chart_4_visual" class="w3-card"></div>
      <div id="looser_1"></div>
      <div id="looser_1_chart" class="w3-card"></div>
      <div id="looser_1_logo"></div>
      <div id="looser_2"></div>
      <div id="looser_2_chart" class="w3-card"></div>
      <div id="looser_2_logo"></div>
      <div id="looser_3"></div>
      <div id="looser_3_chart" class="w3-card"></div>
      <div id="looser_3_logo"></div>
      <div id="looser_4"></div>
      <div id="looser_4_chart" class="w3-card"></div>
      <div id="looser_4_logo"></div>
      <div id="gainer_1"></div>
      <div id="gainer_1_chart" class="w3-card"></div>
      <div id="gainer_1_logo"></div>
      <div id="gainer_2"></div>
      <div id="gainer_2_chart" class="w3-card"></div>
      <div id="gainer_2_logo"></div>
      <div id="gainer_3"></div>
      <div id="gainer_3_chart" class="w3-card"></div>
      <div id="gainer_3_logo"></div>
      <div id="gainer_4"></div>
      <div id="gainer_4_chart" class="w3-card"></div>
      <div id="gainer_4_logo"></div>
      <div id="btn_preset_1"><a href="/"><button class="button button1 w3-card">Crypto_DB</button></a></div>
      <div id="btn_preset_2"><a href="/preset_2"><button class="button button2 w3-card">Binance API</button></a></div>
      <div id="btn_preset_3"><a href="/coinbase_api/"><button class="button button3 w3-card">Coinbase API</button></a></div>
      <div id="btn_preset_4"><a href="/binance_api_live/"><button class="button button4 w3-card">Binance API live</button></a></div>
    </div>

      <script type="text/javascript" src="{% static 'lightweight-charts.standalone.production.js' %}" charset="utf-8"></script>

      <script>
          let chart_1_data = {{ chart_1_data }};
          let chart_2_data = {{ chart_2_data }};
          let chart_3_data = {{ chart_3_data }};
          let chart_4_data = {{ chart_4_data }};
          let gainer_1_data = {{ gainer_1_data }};
          let gainer_2_data = {{ gainer_2_data }};
          let gainer_3_data = {{ gainer_3_data }};
          let gainer_4_data = {{ gainer_4_data }};
          let looser_1_data = {{ looser_1_data }};
          let looser_2_data = {{ looser_2_data }};
          let looser_3_data = {{ looser_3_data }};
          let looser_4_data = {{ looser_4_data }};
          //let history_chart_data = {{ history_chart_data }};
          let logos = {{ logos  | safe}};
          let pair_names = {{ pair_names  | safe}};
      </script>



  </body>
</html>
